.container{
  display: flex;
  /* margin-top: 1rem; */
}
.left{
  flex: 1;
}
.right{
  flex: 1;
}
.page{
  color: aliceblue;
  margin-top: 12rem;
  padding: 0rem 3rem;
}
.text-head{
  color: #e66205;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3rem;
}
.text-head-span{
  color: aliceblue;
}