label {
	display: block;
}

input[type="color"] {
	width: 100%;
	padding: 0;
	border: none;
	margin-bottom: 10px;
}

button {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
}

.main-content .design {
	display: flex;
	align-items: center;
	margin-top: -10px;
}
.main-content .design .options {
	flex: 0.2;
	overflow-y: scroll;
	height: 91vh;
	text-align: left;
	background-color: var(--bg-design);
	padding: 20px;
}
.main-content .design .options::-webkit-scrollbar {
	width: 3px; /* Width of the scrollbar */
	border: hidden;
}

.main-content .design .options::-webkit-scrollbar-track {
	background: var(--bg-color); /* Color of the track */
}

::-webkit-scrollbar-thumb {
	background: var(--orange); /* Color of the thumb */
	border-radius: 5px; /* Radius of the thumb */
}

::-webkit-scrollbar-thumb:hover {
	background: #b53f01; /* Color of the thumb on hover */
}
.main-content .design .inner {
	flex: 0.8;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-content .design .inner .ticket-preview {
	width: 80%;
	padding: 20px;
	box-shadow: 0 10px 20px var(--box-shadow)
}
.main-content .design .options .option-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 7px;
	gap: 5px;
}
.main-content .design .options h4{
	margin-bottom: 5px;
}

.main-content .design .options input[type="color"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 30px;
	height: 30px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.main-content .design .options input[type="color"]::-webkit-color-swatch {
	border-radius: 7px;
	border: none;
}
.main-content .design .options input[type="color"]::-moz-color-swatch {
	border-radius: 7px;
	border: none;
}
.main-content .design .options {
	font-size: 0.8rem;
}
hr{
	background-color: var(--text-color);
	height: 1px;
	margin-bottom: 10px;
}