label {
	display: block;
	margin-bottom: 5px;
}

input[type="color"] {
	width: 40px;
	height: 40px;
	padding: 0;
	border: none;
	margin-bottom: 10px;
}

select {
	width: 100%;
	margin-bottom: 10px;
}

button {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
}

.main-content .design {
	display: flex;
	align-items: center;
	margin-top: -10px;
}
.main-content .design .options {
	flex: 0.2;
	overflow-y: scroll;
	height: 91vh;
	text-align: left;
	background-color: blue;
	padding: 20px;
}
.main-content .design .options::-webkit-scrollbar {
	width: 3px; /* Width of the scrollbar */
	border: hidden;
}

.main-content .design .options::-webkit-scrollbar-track {
	background: var(--bg-color); /* Color of the track */
}

::-webkit-scrollbar-thumb {
	background: var(--orange); /* Color of the thumb */
	border-radius: 5px; /* Radius of the thumb */
}

::-webkit-scrollbar-thumb:hover {
	background: #b53f01; /* Color of the thumb on hover */
}
.main-content .design .inner {
	flex: 0.8;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-content .design .inner .ticket-preview {
	width: 80%;
	padding: 20px;
}
