/* Register.css */
.register-form {
  color: white;
  padding: 20px;
}
.input-layout {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 20px;
}

.register-form input,
.register-form select,
.register-form button {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.register-form input[type="date"] {
  padding: 8px;
}
.register-form button{
    width: 100%;
}
.register-form button {
  background-color: #e66205;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.register-form button:hover {
  background-color: #ff7d2b;
}

@media (max-width: 640px) {
    .input-layout {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}
